@import url(https://fonts.googleapis.com/css?family=Allan:700,400);

body, html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: mistyrose;
  position: relative;
  perspective: 800px;
  overflow: hidden;
}



/* cake */


.cake {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 200px;
  height: 40px;
  background: lighten(#6B5344, 3%);
  border-radius: 100%;
  box-shadow: 0px 4px 0px #6B5344,
    				0px 8px 0px #6B5344,
    				0px 12px 0px #6B5344,
    				0px 16px 0px #6B5344,
    				0px 20px 0px #6B5344,
    				0px 24px 0px #6B5344,
    				0px 28px 0px #6B5344,
    				0px 32px 0px #2fabde,
    				0px 36px 0px #2fabde,
    				0px 40px 0px #F8ECC9,
    				0px 44px 0px #F8ECC9,
    				0px 48px 0px #F8ECC9,
    				0px 52px 0px #F8ECC9,
    				0px 56px 0px #6B5344,
    				0px 60px 0px #6B5344,
    				0px 64px 0px #6B5344,
    				0px 68px 0px #6B5344,
    				0px 72px 0px #6B5344,
    				0px 76px 0px #6B5344,
    				0px 80px 0px #6B5344;
  
  &:before {
    position: absolute;
    right: 0;
    top: 79px;
    left: -25px;
    margin: auto;
    content: "";
    width: 250px;
    height: 50px;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0px 6px 0px rgba(0, 0, 0,.1);
    z-index: -1;
  }
  

}

.candle {
  background: #ffffff;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  position: absolute;
  bottom: 70%;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -8.333333333333334px;
  width: 10px;
  height: 50px;
  

  &:after,
  &:before {
    background: rgba(255, 0, 0, 0.4);
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
  }
  &:after {
    top: 25%;
    left: 0;
  }
  &:before {
    top: 45%;
    left: 0;
  }
}

.fire {
  border-radius: 100%;
  box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -3.3333333333333335px;
  width: 6.666666666666667px;
  height: 20.5px;
  animation: fire 2s infinite;
}



@keyframes fire {
  0% {
    background: rgb(251,243,63);
    background: radial-gradient(circle, rgba(251,243,63,1) 0%, rgba(252,177,70,1) 100%);
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(0);
		background: rgb(251,243,63);
    background: radial-gradient(circle, rgba(251,243,63,1) 0%, rgba(252,177,70,1) 100%);
  }
  100% {
    background: rgb(251,243,63);
    background: radial-gradient(circle, rgba(251,243,63,1) 0%, rgba(252,177,70,1) 100%);
    transform: translateY(0) scale(1);
	}
}

