.envelope {
  z-index: 2;
  position: absolute;
  width: 550px;
  height: 366.66667px;
  top: 50%;
  left: 50%;
  margin-top: -183.33333px;
  margin-left: -275px;
  transform-style: preserve-3d;
  transform-origin: right center;
  transition: transform 1s ease;
  font-family: "Allan", sans-serif;
  color: #1F1F1F;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow:  0 0 30px -5px #fbc0b9eb;
}

.front {
  backface-visibility: hidden;
  cursor: pointer;
  display: table;
}

.front:focus {
  outline: none;
}

.stamp {
  transform: translate3d(0, 0, 1px);
  position: absolute;
  width: 80px;
  height: 80px;
  right: 10px;
  top: 10px;
  padding: 10px;
  background: radial-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 4px, #f6f6df 4px, #f6f6df);
  background-size: 20px 20px;
  background-position: -10px -10px;
}

.stamp:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border-radius: 2px;
}

.mail {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.mail p {
  font-weight: bold;
  margin: 0;
}

.mail p:first-child {
  font-size: 50px;
  line-height: 50px;
  color: #ff969f;
}

.mail p:last-child {
  font-size: 30px;
}

.back {
  transform: rotateY(180deg) translate3d(0, 0, 1px);
}

.flip {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flip:before {
  content: "";
  position: absolute;
  background-color: #FFF;
  box-shadow: 0px 0px 100px #f5c1bc52;
}

.topFlip:before, .bottomFlip:before {
  width: 388.90873px;
  height: 388.90873px;
}

.topFlip {
  z-index: 5;
  transform-origin: top center;
}

.topFlip:before {
  transform-origin: top left;
  transform: rotate(-45deg);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bottomFlip {
  z-index: 4;
}

.bottomFlip:before {
  transform-origin: left bottom;
  transform: rotate(45deg) translate(-15px, -15px);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.leftFlip:before, .rightFlip:before {
  width: 269.27249px;
  height: 269.27249px;
  top: -5px;
}

.leftFlip {
  z-index: 3;
}

.leftFlip:before {
  transform-origin: top left;
  transform: rotate(45deg);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 5px;
}

.rightFlip {
  z-index: 2;
}

.rightFlip:before {
  right: 0;
  transform-origin: top right;
  transform: rotate(-45deg);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 5px;
}

/* Animation states */
.new {
  animation: new 1s forwards;
}

.open {
  animation: open 3s forwards;
}

.open .topFlip {
  animation: flip-open 1s 1s forwards;
}

.hide {
  animation: hide-envelope 1s forwards;
}

.send {
  animation: send 4s forwards;
}

.send .topFlip {
  transform: rotateX(-180deg);
  z-index: -1;
  animation: flip-close 1s 1s forwards;
}

/* Keyframes */
@keyframes new {
  0% {
    left: 0%;
    margin-left: -550px;
  }
  100% {
    left: 50%;
    margin-left: -275px;
  }
}

@keyframes open {
  0% {
    transform: translate3d(0, 0, 0) rotateY(0);
  }
  33.333% {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg);
  }
  66.666% {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg);
  }
  100% {
    transform: translate3d(-100%, 733.33333px, 0) rotateY(-180deg);
  }
}

@keyframes flip-open {
  0% {
    transform: rotateX(0deg);
    z-index: 5;
  }
  50% {
    transform: rotateX(0deg);
    z-index: 5;
  }
  100% {
    transform: rotateX(-180deg);
    z-index: -1;
  }
}

@keyframes hide-envelope {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes send {
  0% {
    transform: translate3d(-100%, 733.33333px, 0) rotateY(-180deg);
    left: 50%;
    margin-left: -275px;
  }
  25% {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg);
    left: 50%;
    margin-left: -275px;
  }
  50% {
    transform: translate3d(-100%, 0, 0) rotateY(-180deg);
    left: 50%;
    margin-left: -275px;
  }
  75% {
    transform: translate3d(0, 0, 0) rotateY(0deg);
    left: 50%;
    margin-left: -275px;
  }
  100% {
    transform: translate3d(0, 0, 0) rotateY(0deg);
    left: 100%;
    margin-left: 20px;
  }
}

@keyframes flip-close {
  0% {
    transform: rotateX(-180deg);
    z-index: -1;
  }
  50% {
    transform: rotateX(0deg);
    z-index: 5;
  }
  100% {
    transform: rotateX(0deg);
    z-index: 5;
  }
}
